/**
 * @file
 * Positioning for a fixed-width, desktop-centric layout.
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * LESS Colors
 */
#admin-menu-wrapper .admin-menu-icon {
  background: white;
}
::selection {
  background: #e8edef;
  /* Safari */
}
::-moz-selection {
  background: #e8edef;
  /* Firefox */
}
body {
  background: url('../../images/bg.gif') top center;
  padding-bottom: 50px;
  font-size: 80%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: #5b747d;
}
#bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: url('../../images/bg_overlay2.png') repeat-x top center;
  width: 100%;
  height: 500px;
  z-index: -1;
}
/*
 * Center the page.
 */
#mainCol,
.region-bottom {
  /* If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. */
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  position: relative;
  padding: 0 0px 0 0px;
  background: url('../../images/navColBG.jpg') repeat-y top left;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 25px;
  -moz-border-radius-bottomleft: 25px;
}
/*
 * Apply the shared properties of grid items in a single, efficient ruleset.
 */
/*
 * Containers for grid items and flow items.
 */
#header,
#main,
#footer {
  *position: relative;
  *zoom: 1;
}
#header:before,
#header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}
#headerBanner {
  position: absolute;
  z-index: 109;
  top: 0;
  left: 0px;
  width: 900px;
  height: 212px;
  background: url('../../images/header.png') no-repeat top left;
}
#linkBack {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 901;
  width: 182px;
  height: 127px;
  cursor: pointer;
  background: transparent;
}
#linkBack2 {
  position: absolute;
  top: 127px;
  left: 10px;
  z-index: 901;
  width: 92px;
  height: 42px;
  cursor: pointer;
  background: transparent;
}
#linkBack a {
  width: 100%;
  height: 100%;
}
#swoosh {
  position: absolute;
  z-index: 110;
  top: 64px;
  left: -26px;
  width: 962px;
  height: 161px;
  background: url('../../images/swoosh.png') no-repeat top left;
}
/*
 * Navigation bar
 */
#navCol {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding: 0;
  z-index: 12;
}
#nav {
  background: url('../../images/navBG.jpg') repeat-y top left;
  padding: 225px 12px 0 12px;
  position: relative;
  z-index: 115;
}
#navBottom {
  position: relative;
  bottom: 0;
  left: -12px;
  width: 200px;
  height: 30px;
  background: url('../../images/navBottom.jpg') no-repeat bottom left;
}
#navCol .block {
  background-color: rgba(256, 256, 256, 0.3);
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 4px;
}
#navCol ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 15px 0;
}
#navCol ul li {
  font-size: 12pt;
  font-weight: bold;
  text-decoration: none;
  color: #5f3b42;
  text-align: right;
  font-variant: small-caps;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#navCol ul li a {
  text-decoration: none;
  color: #5f3b42;
}
#navCol ul li a:hover {
  color: #5b747d;
}
/* ========== ========== ==========
/* MAIN CONTENT COLUMN
/* ========== ========== ========*/
#mainContentCol {
  background: transparent;
  width: 700px;
  color: #7c7151;
  padding-left: 200px;
  position: relative;
  z-index: 10;
  line-height: 17px;
}
#mainContentCol h1 {
  font-variant: small-caps;
}
#mainContentCol h2 {
  padding: 0 0 0 1em;
}
#mainContentCol h3 {
  padding: 0 0 0 1.5em;
}
#mainContentCol h4 {
  padding: 0 0 0 2em;
}
#mainContentCol h5 {
  padding: 0 0 0 2.5em;
}
#mainContentCol h6 {
  padding: 0 0 0 3em;
}
#mainContentCol p {
  padding: 0 3.5em 0 3.5em;
}
#mainContentCol ul,
#mainContentCol ol {
  padding: 0 0 0 55px;
}
#mainContentCol a {
  color: #5f3b42;
  text-decoration: none;
}
#mainContentCol a:hover {
  text-decoration: underline;
}
#FProtate {
  position: relative;
  width: 650px;
  height: 350px;
}
#FProtate #clickable {
  position: absolute;
  top: 105px;
  height: 245px;
  width: 650px;
  z-index: 120;
  cursor: pointer;
  background: transparent;
}
#mainContentCol .rotateImg {
  position: absolute;
  height: 350px;
  width: 650px;
}
#click_overlay {
  height: 100%;
  background: #eeeeee;
}
#mainPeeps {
  background: url('../../images/peeps.gif') no-repeat bottom left;
  height: 212px;
}
#contentWrapper {
  position: relative;
  background: #f9f7f5 url('../../images/contentBG.png') no-repeat bottom right;
  min-height: 970px;
  box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
#contentWrapper #content {
  padding: 15px 15px 60px 15px;
}
#topShadow {
  width: 650px;
  height: 7px;
  background: url('../../images/upperContentShadow.gif') no-repeat top left;
  position: absolute;
  top: 0;
  left: 0;
}
#mainContentCol #footer {
  /*position: absolute;
	bottom: 2px;
	left: 0;*/
  width: 700px;
  text-align: center;
  font-size: .8em;
  color: #73694b;
}
#mainContentCol #footer a {
  color: #73694b;
}
#mainContentCol blockquote {
  background: url("../../images/quote.gif") no-repeat scroll 0 10px transparent;
  border-bottom: 3px double #dcd6ce;
  border-top: 3px double #dcd6ce;
  font-style: italic;
  position: relative;
  padding-bottom: 2em;
  clear: both;
}
#mainContentCol blockquote cite {
  margin: 20px 0;
  font-weight: bold;
  position: absolute;
  right: 0;
  bottom: 0;
}
.images img {
  margin: 20px;
}
.images img.first {
  margin-left: 85px;
}
.images img.last {
  margin-right: 0;
}
ul#fv-links {
  padding: 0 0 0 55px;
  list-style-type: none;
}
ul#fv-links li a {
  font-size: 110%;
}
ul#fv-links li p.desc {
  padding: 0 0 0 5px;
  margin: 0;
  color: #666666;
  font-size: 90%;
}
#googlemap {
  width: 670px;
  margin: 0 auto;
}
#googlemap iframe {
  border: none;
  margin: 0;
  overflow: hidden;
}
/* ========== ========== ==========
/* GALLERY
/* ========== ========== ========*/
.before {
  clear: both;
  float: left;
  width: 49%;
}
.after {
  float: left;
  width: 310px;
}
.after h2,
.before h2 {
  text-align: center;
  color: #5f3b42;
  padding: 0;
}
.after img,
.before img {
  margin: 20px 29px;
  width: 252px;
}
.member {
  margin-bottom: 30px;
}
.member p {
  margin: 5px 0;
}
.member h3 {
  margin-bottom: 5px;
}
/* ========== ========== ==========
/* Angie's List Block
/* ========== ========== ========*/
#angieslist {
  width: 168px;
  margin-top: 7px;
}
#angieslist a {
  display: block;
  width: 120px;
  margin: 0 auto;
  text-align: center;
  color: #5b747d;
  font-size: 12px;
  line-height: 15px;
}
#angieslist a img {
  width: 120px;
}
/* ========== ========== ==========
/*  RATE A DENTIST Block
/* ========== ========== ========*/
#rate-a-dentist {
  width: 168px;
  margin-top: 7px;
  text-align: center;
  color: #5b747d;
}
#rate-a-dentist a {
  display: block;
  width: 153px;
  margin: 0 auto;
  text-align: center;
  color: #5b747d;
  font-size: 12px;
  line-height: 15px;
}
/* ========== ========== ==========
/*  Block
/* ========== ========== ========*/
#ndr {
  width: 168px;
  margin-top: 7px;
}
#ndr p {
  margin: 0;
  padding: 0px;
}
#ndr a {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #5b747d;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
}
#ndr a img {
  width: 160px;
}
/* ========== ========== ==========
/* UTILITIES
/* ========== ========== ========*/
.clear {
  clear: both;
  height: 0px;
}
div.hr {
  display: block;
  width: 80%;
  height: 2px;
  margin: 0 auto 10px;
  background-color: #5F3B42;
}
.bold {
  font-weight: bold;
}
.region-bottom-content .block.first {
  margin-top: 60px;
  text-align: center;
  font-size: .9em;
  line-height: 17px;
  color: #73694b;
}
a.file {
  padding-left: 20px;
}
a.pdf {
  background: url('../../images/mime/16/pdf.png') center left no-repeat;
}
.view-id-blog .view-header {
  padding: 20px 0;
  margin: 20px 0 36px;
  font-size: 110%;
  /*.rounded-corners(18px);
    background: fadeout(lighten(@main-red, 60%), 20%);*/
  -moz-border-radius-bottomright: 18px;
  -moz-border-radius-bottomleft: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  background: rgba(256, 256, 256, 0.5);
  border-top: 3px solid #5f3b42;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
#mainContentCol article.node-blog-entry {
  margin-bottom: 32px;
}
#mainContentCol article.node-blog-entry h2 {
  line-height: 18px;
}
#mainContentCol article.node-blog-entry .submitted {
  margin: 0px;
  color: #90a6ae;
  font-size: 9pt;
  line-height: 23px;
}
#mainContentCol article.node-blog-entry .submitted a.username,
#mainContentCol article.node-blog-entry .submitted span.username {
  color: #5b747d;
  font-size: 90%;
}
#mainContentCol article.node-blog-entry ul.links {
  color: #b1828b;
  font-size: 9pt;
}
#mainContentCol article.node-blog-entry ul.links a {
  color: #b1828b;
}
#mainContentCol article.node-blog-entry img.float-right {
  margin: 0 0 20px 20px;
}
#mainContentCol article.node-blog-entry img.float-left {
  margin: 0 20px 20px 0px;
}
#mainContentCol article.node-blog-entry .field-name-body {
  width: 80%;
  float: left;
}
#mainContentCol article.node-blog-entry .field-name-field-tags {
  width: 15%;
  float: left;
  margin-top: 1.5em;
  padding: 15px;
  background: rgba(256, 256, 256, 0.5);
  border-top: 1px solid #5f3b42;
}
#mainContentCol article.node-blog-entry .comments {
  clear: both;
  margin: 1.5em 3.5em;
  padding: 1.5em;
  background: rgba(256, 256, 256, 0.5);
}
#mainContentCol article.node-blog-entry .comments .comment {
  border-top: 1px solid #5f3b42;
  margin-top: 30px;
  padding: 5px 40px 0 0;
  position: relative;
}
#mainContentCol article.node-blog-entry .comments .comment header .submitted {
  padding: 0;
  margin: 0;
}
#mainContentCol article.node-blog-entry .comments .comment header .comment-title {
  margin: 0;
}
#mainContentCol article.node-blog-entry .comments .comment header .comment-title a.permalink {
  font-size: 100%;
}
#mainContentCol article.node-blog-entry .comments .comment ul.links {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  display: none;
}
#mainContentCol article.node-blog-entry .comments .comment:hover ul.links {
  display: block;
}
#mainContentCol article.node-blog-entry .comments h2.title {
  padding: 0;
}
#mainContentCol article.node-blog-entry .comments h2.title.comment-form {
  margin-top: 45px;
}
#mainContentCol article.node-blog-entry .links {
  clear: both;
  padding: 0 3.5em;
  display: block;
}
article.node-blog-entry.node-teaser .field-name-body {
  width: inherit;
  float: none;
}
article.node-blog-entry.node-teaser .field-name-field-tags {
  width: inherit;
  float: none;
  margin-top: inherit;
  padding: inherit;
  background: rgba(256, 256, 256, 0.5);
  border-top: 1px solid #5f3b42;
}
#navCol #block-block-6 {
  background-color: transparent;
  height: 40px;
}
#navCol #block-block-6 .sm-ic {
  display: block;
  width: 36px;
  height: 36px;
  float: left;
  margin-left: 8px;
  text-indent: -999999px;
}
#navCol #block-block-6 .facebook-ic {
  background: transparent url('../../images/facebook_ic.png') left top no-repeat;
  margin-left: 0px;
}
#navCol #block-block-6 .facebook-ic:hover {
  background-position: left -36px;
}
#navCol #block-block-6 .twitter-ic {
  background: transparent url('../../images/twitter_ic.png') left top no-repeat;
}
#navCol #block-block-6 .twitter-ic:hover {
  background-position: left -36px;
}
#navCol #block-block-6 .linkedin-ic {
  background: transparent url('../../images/linkedin_ic.png') left top no-repeat;
}
#navCol #block-block-6 .linkedin-ic:hover {
  background-position: left -36px;
}
#navCol #block-block-6 .google-ic {
  background: transparent url('../../images/google_ic.png') left top no-repeat;
}
#navCol #block-block-6 .google-ic:hover {
  background-position: left -36px;
}
